<!-- layout.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}NismanNews{% endblock %}</title>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
  <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-items">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">NismanNews</a>
      </div>
      <div id="nav-items" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/wiki/add">Crear Articulo</a></li>
          <li><a href="/users">Usuarios</a></li>
          <li><a href="/search">tagsearch</a></li>
          <li><a href="/about">about</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>

  {% block content %}{% endblock %}
  <footer id="f" class="text-muted py-5 container w-100">
    <hr />
    <p>NismanNews by Manu y Rober</p>
    <div class="col-md-4"></div>
  </footer>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>

</html>